<% hmr =
  (
    if config.vite.hot_module_reloading?
      {
        clientPort: (config.nginx? ? config.port : config.vite.port),
        host: config.hostname,
        protocol: (config.nginx? && config.https? ? "wss" : "ws")
      }
    else
      nil
    end
  ) -%>
<%= JSON.pretty_generate(
  {
    enabled: config.vite.__safe_enabled?,
    host: config.listen_address,
    port: config.vite.port,
    hmr: hmr,
  },
) %>
